.bicicletas-bg
    .bicicletas.container
        .bicicletas-imagem 
            img(src="assets/images/components/bicicleta/nimbus1.jpg", alt="")
            span.font-2-m.cor-c0 R$ 4999
        .bicicletas-conteudo
            h2.font-1-xl Nimbus Stark
            p.font-2-s.cor-c8 A Nimbus Stark é a melhor Bikcraft já criada pela nossa equipe. Ela vem equipada com os melhores acessórios, o que garante maior velocidade.
            ul.font-1-m.cor-c8  
                li  
                    img(src="assets/images/components/icones/eletrica.svg" alt="") 
                    p Motor eletrico  
                li  
                    img(src="assets/images/components/icones/carbono.svg", alt="") 
                    p Fibra de Carbono
                li  
                    img(src="assets/images/components/icones/velocidade.svg", alt="") 
                    p 50 km/h           
                li  
                    img(src="assets/images/components/icones/rastreador.svg", alt="") 
                    p Restreador
            a(href="nimbus.html").botao.seta Mais Sobre
.bicicletas-black
    .bicicletas.container
        .bicicletas-imagem 
            img(src="assets/images/components/bicicleta/nimbus2.jpg", alt="")
            span.font-2-m.cor-c0 R$ 4999
        .bicicletas-conteudo
            h2.font-1-xl.cor-c0 Magic Might
            p.font-2-s.cor-c5 A Magic Might é a melhor Bikcraft já criada pela nossa equipe. Ela vem equipada com os melhores acessórios, o que garante maior velocidade.
            ul.font-1-m 
                li  
                    img(src="assets/images/components/icones/eletrica.svg" alt="") 
                    p.cor-c5  Motor eletrico  
                li  
                    img(src="assets/images/components/icones/carbono.svg", alt="") 
                    p.cor-c5  Fibra de Carbono
                li  
                    img(src="assets/images/components/icones/velocidade.svg", alt="") 
                    p.cor-c5  50 km/h           
                li  
                    img(src="assets/images/components/icones/rastreador.svg", alt="") 
                    p.cor-c5  Restreador
            a(href="magic.html").botao.seta Mais Sobre
.bicicletas-bg
    .bicicletas.container
        .bicicletas-imagem 
            img(src="assets/images/components/bicicleta/nimbus3.jpg", alt="")
            span.font-2-m.cor-c0 R$ 4999
        .bicicletas-conteudo
            h2.font-1-xl Nebula Cosmic
            p.font-2-s.cor-c8 A Nebula Cosmic é a melhor Bikcraft já criada pela nossa equipe. Ela vem equipada com os melhores acessórios, o que garante maior velocidade.
            ul.font-1-m.cor-c8  
                li  
                    img(src="assets/images/components/icones/eletrica.svg" alt="") 
                    p Motor eletrico  
                li  
                    img(src="assets/images/components/icones/carbono.svg", alt="") 
                    p Fibra de Carbono
                li  
                    img(src="assets/images/components/icones/velocidade.svg", alt="") 
                    p 50 km/h           
                li  
                    img(src="assets/images/components/icones/rastreador.svg", alt="") 
                    p Restreador
            a(href="nebula.html").botao.seta Mais Sobre