article.bicicletas-lista
    h2.container.font-1-xxl Escolha a sua <span class="cor-p1">.</span>
    ul
        li
            <a href="bicicletas.html">
                <img src="assets/images/components/bicicleta/nimbus1.jpg">
                h3.font-1-xl Magic Might
                span.font-2-m.cor-c8 R$ 2499
            </a>
        li
            <a href="bicicletas.html">
                <img src="assets/images/components/bicicleta/nimbus2.jpg">
                h3.font-1-xl Nimbus Stark
                span.font-2-m.cor-c8 R$ 2499
            </a>
        li
            <a href="bicicletas.html">
                <img src="assets/images/components/bicicleta/nimbus3.jpg">
                h3.font-1-xl Nebula Cosmic
                span.font-2-m.cor-c8 R$ 2499
            </a>