section.content
  .info
    p.sutia Você sabe o que há por dentro da Ponte Costa e Silva? Ou atrás das paredes da rodoviária? Conhece a história da pedra fundamental de Brasília, que tem mais de 100 anos? Para ficar por dentro dessas e outras curiosidades da Capital Federal, o Metrópoles e o canal Minha Brasília lançam uma websérie especial sobre fatos que nem mesmo muitos moradores mais antigos da cidade conhecem. Confira!

    .oferecimento
      h5 Oferecimento 
      
      .line.line-1
        .col.col-1
          img(src="assets/images/components/logos/uniceplac.png" alt="Uniceplac")
        .col.col-2
          img(src="assets/images/components/logos/villela-Logo.png" alt="Villela")
        .col.col-3
          img(src="assets/images/components/logos/grupo-telecel.png" alt="Grupo Telecel")

      .line.line-2
        .col.col-1
          h6 Realização
          img(src="assets/images/components/logos/metropoles.png" alt="Metrópoles" class="metropoles")

        .col.col-2
          h6 Apoio
          img(src="assets/images/components/logos/royel-enfield.png" alt="Royal Enfield" class="royel-enfield")