section.depoimento(area-label="Depoimento")
    .divdepimg 
        img(src="assets/images/components/fotos/depoimento.jpg", alt="")
    .depoimento-conteudo 
        p.font-1-xl.cor-p5 Pedalar sempre foi a minha paixão, o que o pessoal da Bikcraft fez foi intensificar o meu amor por esta atividade. Recomendo à todos que amo.
        span.font-1-m-b.cor-p4 Ana Julia