.episodios
  div(class='episodio episodio-1')
    .episodio__item
      .episodio__video 
        <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      .episodio__conteudo 
        h3 Episódio 1
        h2 Pedra Fundamental
        p A pedra fundamental é um monumento arquitetônico construído para lançar a construção de Brasília.

      .ver-mais 
        button veja mais sobre o episódio
        p A pedra fundamental é um monumento arquitetônico construído para lançar a construção de Brasília.

  //- div(class='episodio episodio-2')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 2
  //-       h2 Vila Amaury
  //-       p Vila Amaury, a cidade escondida embaixo do Lago Paranoá. 

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p Vila Amaury, a cidade escondida embaixo do Lago Paranoá. 


  //- div(class='episodio episodio-3')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 3
  //-       h2 Ruínas da UnB
  //-       p O prédio conhecido como Ruínas da UnB foi abandonado ainda durante a ditadura militar devido a infiltrações.

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p O prédio conhecido como Ruínas da UnB foi abandonado ainda durante a ditadura militar devido a infiltrações.

  //- div(class='episodio episodio-4')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 4
  //-       h2 Caixões da Rodoviária
  //-       p Os “caixões perdidos” totalizam cerca de 50.000m² de espaço na Rodoviária do Plano Piloto totalmente inutilizado.

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p Os “caixões perdidos” totalizam cerca de 50.000m² de espaço na Rodoviária do Plano Piloto totalmente inutilizado.

  //- div(class='episodio episodio-5')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 5
  //-       h2 Capelas de Niemeyer
  //-       p As capelas, projetadas por Oscar Niemeyer, que poucos conhecem.

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p As capelas, projetadas por Oscar Niemeyer, que poucos conhecem.

  //- div(class='episodio episodio-6')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 6
  //-       h2 Athos escondidos
  //-       p Existem alguns azulejos de Athos Bulcão que, apesar de públicos, estão meio escondidos.

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p Existem alguns azulejos de Athos Bulcão que, apesar de públicos, estão meio escondidos.

  //- div(class='episodio episodio-7')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 7
  //-       h2 Ponte Costa e Silva
  //-       p As mensagens escritas nas lajes da Câmara dos Deputados foram deixadas por Candangos.

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p As mensagens escritas nas lajes da Câmara dos Deputados foram deixadas por Candangos.

  //- div(class='episodio episodio-8')
  //-   .episodio__item
  //-     .episodio__video 
  //-       <iframe src="https://www.youtube.com/embed/iGELelZv-pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  //-     .episodio__conteudo 
  //-       h3 Episódio 8
  //-       h2 Câmara dos Deputados
  //-       p As mensagens escritas nas lajes da Câmara dos Deputados foram deixadas por Candangos.

  //-     .ver-mais 
  //-       button veja mais sobre o episódio
  //-       p As mensagens escritas nas lajes da Câmara dos Deputados foram deixadas por Candangos.


