section.expedient
  .middle-special
    .oferecimento-title 
      h6 Oferecimento

    .oferecimento 
      .oferecimento-img.uniceplac
        img(src="assets/images/components/logos/uniceplac.png" alt="Uniceplac" class="uniceplac")
        
      .oferecimento-img.villela
        img(src="assets/images/components/logos/villela-Logo.png" alt="Villela" class="villela")

      .oferecimento-img.telecel
        img(src="assets/images/components/logos/grupo-telecel.png" alt="Grupo Telecel" class="telecel")

    .apoio
      h6 Apoio
      img(src="assets/images/components/logos/royel-enfield.png" alt="Royal Enfield" class="royel-enfield")

    .realizacao 
      span Realização:
      img(src="assets/images/components/expedient/metropoles.png", alt="Metrópoles")

      h3 Siga nossas redes sociais
    .redes-sociais 
      a(href="https://facebook.com/metropolesdf" target="_blank") 
        button 
          img(src="assets/images/components/expedient/facebook.png", alt="Facebook")

      a(href="https://www.instagram.com/metropoles/" target="_blank") 
        button 
          img(src="assets/images/components/expedient/instagram.png", alt="Instagram")

      a(href="https://www.tiktok.com/@metropolesoficial?lang=en" target="_blank") 
        button 
          img(src="assets/images/components/expedient/tiktok.png", alt="TikTok")

    .expedient-title 
      h2 Expediente

    dl
      dt DIRETORA-EXECUTIVA
      dd Lilian Tahan

      dt EDITORA-EXECUTIVA
      dd Priscilla Borges

      dt EDITOR-CHEFE
      dd Otto Valle

      dt COORDENAÇÃO
      dd Fernando Braga

      dt PRODUÇÃO
      dd Minha Brasília
      dd Gabriela Prado
      dd Natália André
      dd Mayara Vitta
      dd Vanessa Oliveira

      dt EDIÇÃO
      dd Renaro Cardozo
      dd Sarah Campo Dall Orto

      dt REVISÃO DE TEXTOS
      dd Geisiane Sousa

      dt DIREÇÃO DE ARTE
      dd Daniel Zukko
      dd Lucas Jonathan

      dt EDIÇÃO DE VÍDEO
      dd Daniel Zukko

      dt TECNOLOGIA
      dd Allan Rabelo
      dd Daniel Mendes
      dd Saulo Marques

      dt COMERCIAL
      dd Rafael Augusto
      dd Frâncio Botelho
      dd Flavia Cabral
      dd Leila Santos
      dd Caio Correa
      dd Rafael Rodrigo

























     
