footer.footer-bg 
    .footer.container 
        img(src="assets/images/components/logo/bikcraft.svg")
        .footer-contato   
            h3 Contato 
            ul.font-2-m
                li 
                    a(href="tel:+5521999999999").cor-c5 +55 21 9999-9999 
                li 
                    a(href="mailto:contato@bikcraft.com").cor-c5 contato@bikcraft.com