section.galeria 
  .galeria-titulo 
    h2 Galeria de fotos

  .galeria-conteudo
    div(class='coluna coluna1')
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/1-596x468-2-1.jpg" alt="" title="Image 1">
      </a>

    div(class='coluna coluna2')
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/2-279x224x2-1.jpg" alt="" title="Image 1">
      </a>
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/2-279x224x2-4.jpg" alt="" title="Image 1">
      </a>

    div(class='coluna coluna3')      
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/2-279x224x2-3.jpg" alt="" title="Image 1">
      </a>
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/3-183x143x2-1.jpg" alt="" title="Image 1">
      </a>
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/3-183x143x2-2.jpg" alt="" title="Image 1">
      </a>

  .galeria-conteudo.inactive
    div(class='coluna coluna1')
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/1-596x468-2.jpg" alt="" title="Image 1">
      </a>
    div(class='coluna coluna2')
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/2-279x224x2-2.jpg" alt="" title="Image 1">
      </a>
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/2-279x224x2-5.jpg" alt="" title="Image 1">
      </a>

    div(class='coluna coluna3')
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/3-183x143x2-3.jpg" alt="" title="Image 1">
      </a>
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/3-183x143x2-4.jpg" alt="" title="Image 1">
      </a>
      <a class="big" rel="rel1">
        <img src="assets/images/components/galeria/3-183x143x2-5.jpg" alt="" title="Image 1">
      </a>

  .ver-mais
    button Mais fotos