section.header-bikcraft 
    .header-bg.container
        a(href="index.html")
            img(src="assets/images/components/logo/bikcraft.svg")
        nav(area-label="primaria")
            ul.header-menu.font-1-m.cor-c0
                li
                    a(href="bicicletas.html") Bicicletas
                li
                    a(href="seguros.html") Seguros           
                li
                    a(href="contato.html") Contato
