
//section.header-special
    .block-title 
            h1.title Minha Brasília - Brasília secreta
            h2.sub-title Quais mistérios da Capital Federal você ainda não conhece?
    
    picture
        source(srcset="assets/images/components/featured/abre.jpg" media="(min-width: 768px)")
        img.featured(src="assets/images/components/featured/abre-mobile.jpg" alt="Imagem")