section.parceiros(area-label="Nossos Parceiros") 
    h2.container.font-1-xxl Nossos Parceiros<span class="cor-p1">.</span>
    ul 
        li 
            img(src="assets/images/components/parceiros/caravan.svg", alt="caravan")
        li 
            img(src="assets/images/components/parceiros/ranek.svg", alt="ranek")
        li 
            img(src="assets/images/components/parceiros/handel.svg", alt="handel")
        li 
            img(src="assets/images/components/parceiros/dogs.svg", alt="dogs")
        li 
            img(src="assets/images/components/parceiros/lescone.svg", alt="lescone")
        li 
            img(src="assets/images/components/parceiros/flexblog.svg", alt="flexblog")
        li 
            img(src="assets/images/components/parceiros/wildbeast.svg", alt="wildbeasr")
        li 
            img(src="assets/images/components/parceiros/surfbot.svg", alt="surfbot")