article.seguros-bg
    .seguros.container
        h2.font-1-xxl.cor-c0 Seguros<span class="cor-p1">.</span>
        .seguros-item
            h3.font-1-xl.cor-c6 PRATA
            span.font-1-xl.cor-c0 R$ 199 <span class="font-1-xs cor-c6">mensal</span>
            ul.font-2-m.cor-c0
                li Duas trocas por ano
                li Assistência técnica
                li Suporte 08h às 18h
                li Cobertura estadual
            a(href="./orcamento.html").botao.secundaria Inscreva-se  
        .seguros-item
            h3.font-1-xl.cor-p1 OURO
            span.font-1-xl.cor-c0 R$ 299 <span class="font-1-xs cor-c6">mensal</span>
            ul.font-2-m.cor-c0
                li Duas trocas por ano
                li Assistência técnica
                li Suporte 08h às 18h
                li Cobertura nacional
                li Desconto em parceiros
                li Acesso ao Clube Bikcraft
            a(href="./orcamento.html").botao Inscreva-se  