#general-special {
  .galeria {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 90px;

    @media screen and (max-width: 768px) {
      padding-top: 40px;
    }

    .ver-mais {
      button {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 900;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000000;
        border-radius: 9px;
        width: 90.1px;
        height: 17.85px;
        margin: 10px auto 0;
        display: block;
        /* display: none; */
        
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }

    .galeria-titulo {
      h2 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #000000;
        margin-bottom: 25px;

        @media screen and (max-width: 768px) {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }
    }

    .galeria-conteudo {
      display: flex;
      padding-bottom: 16px;

      @media screen and (max-width: 768px) {
        padding: 0 12px 8px;
        flex-wrap: wrap;
      }

      .coluna {
        max-height: 500px;
        padding: 0 8px;

        @media screen and (max-width: 768px) {
          padding: 0 4px;
          max-height: 200px;
        }

        a {
          display: block;
          padding: 8px 0;
          width: 100%;
          cursor: initial;

          @media screen and (max-width: 768px) {
            padding: 4px 0;
          }

          &:first-of-type {
            padding-top: 0;
          }

          &:last-of-type {
            padding-bottom: 0;
          }
        }

        img {
          display: block;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        &.coluna1 {
          width: 50%;

          /* @media screen and (max-width: 768px) {
            width: 66.66%;
          } */

          a, img {
            height: 100%;
          }
        }
  
        &.coluna2 {
          width: 30%;

          /* @media screen and (max-width: 768px) {
            width: 33.33%;
          } */

          a {
            height: calc(100% / 2);

            img {
              height: 100%;
            }
          }
        }
  
        &.coluna3 {
          width: 20%;

          /* @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            max-height: none;
            justify-content: center;

            height: 1px;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: opacity .5s;
          } */
          
          /* &.ativo {
            height: auto;
            overflow: visible;
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
          } */
          
          a {
            height: calc(100% / 3);
            
            /* @media screen and (max-width: 768px) {
              max-height: 160px;
              height: 100%;
              width: 50%;
              padding: 0 4px;
              margin-top: 8px;
            } */

            &:first-of-type {
              /* @media screen and (max-width: 768px) {
                padding-left: 0;
              } */
            }
  
            &:last-of-type {
              /* @media screen and (max-width: 768px) {
                padding-right: 0;
              }             */
            }

            img {
              height: 100%;

              /* @media screen and (max-width: 768px) {
                height: 100%;
                width: 100%;
              } */
            }
          }
        }
      }

      &.inactive {
        height: 1px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
      }

      + .galeria-conteudo {
        flex-direction: row-reverse;
        /* .coluna {
          &.coluna1 {
            order: 1;
          }
          
          &.coluna2 {
            order: 2;
          }
          &.coluna3 {
            order: 3;
          }
        } */
      }
    }
  }
}
  